<div class="container-fluid footer">
  <div class="container">
    <div id="features" class="row">
      <div class="col-md-4"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <a href="https://www.facebook.com/barlift" class="social">
          <center>
            <img src="img/social/facebook-with-circle.svg" alt="social">
          </center>
        </a>
      </div>
      <div class="col-md-1">
        <a href="https://instagram.com/barlift/" class="social">
          <center>
            <img src="img/social/instagram-with-circle.svg" alt="social">
          </center>
        </a>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <center>
        <p>Copyright BarLift 2015. All rights reserved.</p>
        <a href="/terms">Privacy and Terms</a>
        <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
      </center>
    </div>
  </div> <!-- .cd-main-content -->
</div>